Repository cta-observatory/protopipe, pull requests merged in 2020-12, with the labels that each got.

#58 Upgrade of data training
  .github/workflows/ci.yml
  .gitignore
  MANIFEST.in
  docs/pipeline/index.rst
  docs/scripts/DL2.rst
  docs/scripts/data_training.rst
  docs/scripts/index.rst
  docs/scripts/model_building.rst
  environment.yml
  protopipe/aux/example_config_files/analysis.yaml
  protopipe/aux/example_config_files/classifier.yaml
  protopipe/aux/example_config_files/grid.yaml
  protopipe/aux/example_config_files/performance.yaml
  protopipe/aux/example_config_files/regressor.yaml
  protopipe/mva/__init__.py
  protopipe/mva/diagnostic.py
  protopipe/mva/train_model.py
  protopipe/mva/utils.py
  protopipe/perf/__init__.py
  protopipe/perf/cut_optimisation.py
  protopipe/perf/irf_maker.py
  protopipe/perf/utils.py
  protopipe/pipeline/event_preparer.py
  protopipe/pipeline/image_cleaning.py
  protopipe/pipeline/image_cleaning.pyc
  protopipe/pipeline/temp.py
  protopipe/pipeline/utils.py
  protopipe/scripts/__init__.py
  protopipe/scripts/build_model.py
  protopipe/scripts/data_training.py
  protopipe/scripts/make_performance.py
  protopipe/scripts/model_diagnostic.py
  protopipe/scripts/tests/test_dataTraining.py
  protopipe/scripts/write_dl1.py
  setup.py
Labels: documentation, enhancement, fix, maintenance

#59 Upgrade calibration benchmarks
  benchmarks/DL1/benchmarks_DL1_calibration.ipynb
  benchmarks/DL1/protopipe_CTAMARS_1stPass_calibration.json
  benchmarks/DL1/protopipe_CTAMARS_2ndPass_calibration.json
  benchmarks/DL3/reference_data/aswg/point-like/LaPalma_20_South/CTA-Performance-North-20deg-S-onaxis-05h_20170627.fits.gz
  benchmarks/DL3/reference_data/aswg/point-like/LaPalma_20_South/CTA-Performance-North-20deg-S-onaxis-100s_20170627.fits.gz
  benchmarks/DL3/reference_data/aswg/point-like/LaPalma_20_South/CTA-Performance-North-20deg-S-onaxis-30m_20170627.fits.gz
  benchmarks/DL3/reference_data/aswg/point-like/LaPalma_20_South/CTA-Performance-North-20deg-S-onaxis-50h_20170627.fits.gz
  benchmarks/DL3/requirements/North-05h-LST.dat
  benchmarks/DL3/requirements/North-05h-MST.dat
  benchmarks/DL3/requirements/North-05h.dat
  benchmarks/DL3/requirements/North-30m-EffectiveArea.dat
  benchmarks/DL3/requirements/North-30m-LST-EffectiveArea.dat
  benchmarks/DL3/requirements/North-30m-LST.dat
  benchmarks/DL3/requirements/North-30m-MST-EffectiveArea.dat
  benchmarks/DL3/requirements/North-30m-MST.dat
  benchmarks/DL3/requirements/North-30m.dat
  benchmarks/DL3/requirements/North-50h-AngRes.dat
  benchmarks/DL3/requirements/North-50h-ERes.dat
  benchmarks/DL3/requirements/North-50h-LST-AngRes.dat
  benchmarks/DL3/requirements/North-50h-LST-ERes.dat
  benchmarks/DL3/requirements/North-50h-LST.dat
  benchmarks/DL3/requirements/North-50h-MST-AngRes.dat
  benchmarks/DL3/requirements/North-50h-MST-ERes.dat
  benchmarks/DL3/requirements/North-50h-MST.dat
  benchmarks/DL3/requirements/North-50h.dat
  benchmarks/DL3/requirements/South-05h-LST.dat
  benchmarks/DL3/requirements/South-05h-MST.dat
  benchmarks/DL3/requirements/South-05h-SST.dat
  benchmarks/DL3/requirements/South-05h.dat
  benchmarks/DL3/requirements/South-30m-EffectiveArea.dat
  benchmarks/DL3/requirements/South-30m-LST-EffectiveArea.dat
  benchmarks/DL3/requirements/South-30m-LST.dat
  benchmarks/DL3/requirements/South-30m-MST-EffectiveArea.dat
  benchmarks/DL3/requirements/South-30m-MST.dat
  benchmarks/DL3/requirements/South-30m-SST-EffectiveArea.dat
  benchmarks/DL3/requirements/South-30m-SST.dat
  benchmarks/DL3/requirements/South-30m.dat
  benchmarks/DL3/requirements/South-50h-AngRes.dat
  benchmarks/DL3/requirements/South-50h-ERes.dat
  benchmarks/DL3/requirements/South-50h-LST-AngRes.dat
  benchmarks/DL3/requirements/South-50h-LST-ERes.dat
  benchmarks/DL3/requirements/South-50h-LST.dat
  benchmarks/DL3/requirements/South-50h-MST-AngRes.dat
  benchmarks/DL3/requirements/South-50h-MST-ERes.dat
  benchmarks/DL3/requirements/South-50h-MST.dat
  benchmarks/DL3/requirements/South-50h-SST-AngRes.dat
  benchmarks/DL3/requirements/South-50h-SST-ERes.dat
  benchmarks/DL3/requirements/South-50h-SST.dat
  benchmarks/DL3/requirements/South-50h.dat
  docs/conf.py
  docs/contribute/benchmarks/benchmarks_DL1_calibration.ipynb
  docs/contribute/benchmarks/benchmarks_DL1_image-cleaning.ipynb
  docs/contribute/benchmarks/benchmarks_DL2_direction-reconstruction.ipynb
  docs/contribute/benchmarks/benchmarks_DL3_IRFs_and_sensitivity.ipynb
  docs/contribute/benchmarks/benchmarks_DL3_PSF.ipynb
  docs/install/grid.rst
  environment.yml
  protopipe/aux/example_config_files/grid.yaml
Labels: benchmarks, documentation, enhancement

#77 Upgrade of DL2 production
  protopipe/scripts/write_dl2.py
Labels: enhancement, fix

#79 Towards using Pyirf
  benchmarks/DL3/benchmarks_DL3_IRFs_and_sensitivity.ipynb
  protopipe/aux/example_config_files/performance.yaml
  protopipe/perf/cut_optimisation.py
  protopipe/perf/irf_maker.py
  protopipe/scripts/make_performance.py
  protopipe/scripts/write_dl2.py
Labels: benchmarks, enhancement, input / output

#83 Performance using Pyirf
  benchmarks/DL3/benchmarks_DL3_IRFs_and_sensitivity.ipynb
  benchmarks/DL3/benchmarks_DL3_IRFs_and_sensitivity_pyirf.ipynb
  benchmarks/DL3/benchmarks_DL3_PSF.ipynb
  environment.yml
  protopipe/aux/example_config_files/performance.yaml
  protopipe/perf/__init__.py
  protopipe/perf/cut_optimisation.py
  protopipe/perf/irf_maker.py
  protopipe/perf/utils.py
  protopipe/scripts/__init__.py
  protopipe/scripts/make_performance.py
  protopipe/scripts/make_performance_EventDisplay.py
Labels: benchmarks, input / output
